body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 88, 236);
    height: 500px;
}

#main-container {
    width: 600px;
    height: 200px;
    border: 2px solid pink;
    background-color:rgb(187, 143, 187)
}

#heading {
    margin-bottom: 2px;
}

#text {
    margin: 0;
    color: rgb(48, 167, 48);
}

#text-p {
    margin-top: 2px;
}

#generate-btn {
    background-color: rgb(124, 208, 124);
    color: white;
    text-align: center;
}

.input {
    width: 158px;
    height: 35px;
    justify-content: center;
    align-items: center;

    border: 2px solid rgb(234, 66, 66);
}

#h2 {
    display: flex;
    justify-content: space-around;
}